* {
  text-align: center;
  font-family: helvetica;
}

.banner {
  background-image: url(../images/the_flatiron_building.png);
}

.smallbanner {
  background-image: url(../images/the_flatiron_building.png);
}
